html {
	overflow:auto;
}

.coffeepan img {
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
	overflow: auto;
}

form {
    padding: 3px;
    width: 100%;
}

form input {
    border: 1;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#usernameInput {
    width: 40%;
}

#nick button {
    background: green;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

.chat {
    margin-bottom: 40px;
    height: 199px;
    overflow: scroll;
	overflow-x: hidden;
}